{% extends 'projects/base.html' %}
{% load static %}
{% load humanize %}
{% block content %}

<br />
<h5>All Tasks</h5>
<div class="card card-body">
	<form method="GET">
		<div class="search-row">
			WO: {{ myFilter.form.project }}
			Category: {{ myFilter.form.category }}
			Assigned To: {{ myFilter.form.assigned_to }}
			Created By: {{ myFilter.form.created_by }}
			<button class="btn btn-primary btn-sm"  type="submit">Search</button>
		</div>
	</form>
			
	<table class="table table-striped">
		<thead>
			<tr>
				<th scope="col">WO</th>
				<th scope="col">Category</th>
				<th scope="col">Assigned To</th>
				<th scope="col">Hours Given</th>
				<th scope="col">Hours Used</th>
				<th scope="col">Date Assigned</th>
				<th scope="col">Due Date</th>
				<th scope="col">Assigned By</th>
				<th scope="col">Status</th>
				<th scope="col">Modify</th>
			</tr>
		</thead>
		<tbody>

		{% for task in tasks %}
			<tr>
				<th scope="row">{{task.project}}</th>
				<td>{{task.get_category_display|truncatechars:15}}</td>
				<td>{{task.assigned_to}}</td>
				<td>{{task.hours_given}}</td>
				<td>{{task.hours_used}}</td>
				<td>{{task.date_created|date:"D d M Y"}}</td>
				<td>{{task.due_date|date:"D d M Y"}}</td>
				<td>{{task.created_by|make_list|first}}.{{task.created_by.last_name}}</td>
				{% if task.completed == False %}
					<td>Open</td>
				{% else %}
					<td>Completed</td>
				{% endif %}
				<td><a class="btn btn-xs btn-outline-primary" href="">Edit</a>
				<a class="btn btn-outline-danger btn-xs" href="">Delete</a></td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
</div>

{% endblock content %}