{% extends 'projects/base.html' %}
{% load humanize %}
{% block content %}

<form action="{% url 'delete_project' item.id %} "method="POST">
{% csrf_token %}
<div class="card text-center">
	<div class="card-body">
		<h5 class="card-title">Are you sure you want to delete "{{item}}"?</h5>
		<p class="card-text">Projects cannot be undeleted, you must create a brand new one if you delete by accident.</p>
		<a href="{% url 'management' %}" class="btn btn-primary">Cancel</a>
	</div>
	<div class="card-footer text-muted">
		<input type="submit" name="confirm" class="btn btn-danger">
	</div>
</div>


</form>
{% endblock content %}